@charset "UTF-8";

@font-face {
    font-family: 'Jurassic';
    src: url('font/jp_fontJurassicPark.ttf');
    font-weight: normal;
}

:root {
    --cor0: #123123;
    --cor1: #550000;
    --cor2: #555555;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-titulo: 'Jurassic', cursive;
    --fonte-paragrafo: 'Times News Roman', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: url('img/jp_topoFundo.jpg');
    height: 300px;
    width: 900px;
    margin: auto;
    position: relative;
}

header > h1 {
    background-color: var(--cor1);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 60px;
    text-align: center;
    letter-spacing: 4px;
    position: absolute;
    top: 200px;
    width: 900px;
    margin: auto;
}

header > picture > img {
    position: absolute;
    top: 20px;
    left: 40px;
}

header > nav {
    position: absolute;
    top: 120px;
    left: 500px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.482);
    background-image: url('img/jp_menuFundo.jpg');
}

div#menu {
    position: absolute;
    top: 80px;
    left: 325px;
    color: white;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.600);
    background-image: url('img/jp_menuFundo.jpg');
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 160px;
    padding-right: 160px;
    border-radius: 20px 0px 20px 0px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    box-shadow: 8px -8px 15px rgba(0, 0, 0, 0.500);
}

div#menu > nav > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

div#menu > nav > a:hover {
    text-decoration: underline;
}

article#branco {
    background-color: white;
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin: auto;
    width: 900px;    
}

article#branco > picture.ftesquerda > img {
    padding: 0;
    border-color: red;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    top: 50px;
    left: 50px;
}

div.txtdireita {
    position: absolute;
    top: 50px;
    left: 235px;
    padding-right: 50px;
}

div.txtdireita > h2 {
    text-align: left;
    padding-bottom: 15px;
}

div.txtdireita > p {
    text-align: left;
    padding-bottom: 15px;
    padding-right: 15px;
}

article#cinza {
    background-color: var(--cor2);
    height: 300px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin: auto;
    width: 900px;
    color: white;    
}

article#cinza > picture.ftdireita > img {
    padding: 0;
    border-color: yellow;
    border-style: solid;
    border-width: 5px;
    position: absolute;
    top: 50px;
    left: 705px;
}

div.txtesquerda {
    position: absolute;
    top: 50px;
    left: 40px;
    padding-right: 250px;
}

div.txtesquerda > h2 {
    text-align: left;
    padding-bottom: 15px;
}

div.txtesquerda > p {
    text-align: left;
    padding-bottom: 15px;
    padding-right: 10px;
}

aside {
    background-image: url('img/jp_fundoSelva.jpg');
    height: 400px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin: auto;
    width: 900px;
    background-attachment: fixed;    
}

aside > h2 {
    color: white;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 24px;
}

aside > table {
    padding-top: 20px;
    color: black;
    position: relative;
    margin: auto;
    width: 400px;
}

td {
    border: none;
    padding: 9px;
    text-align: center;
    font-size: 16px;
}

th {
    text-align: center;
    border: none;
    padding: 9px;
    font-size: 20px;
    color: white;
    background-color: #333333;
}

tbody > tr#yellow:nth-child(even) {
    background-color: #999999;
}

tbody > tr#yellow:nth-child(odd) {
    background-color: yellow;
}

th#ano {
    width: 40px;
}

footer {
    background-image: url('img/jp_topoFundo.jpg');
    padding-top: 17px;
    padding-bottom: 17px;
    text-align: center;
    width: 900px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-shadow: 2px 3px 2px var(--cor0);
    margin: auto;
}


